<div [formGroup]="addressForm">
  <div 
    class="form-group" 
    [ngClass]="{'has-warning': addressForm.controls.street.invalid && addressForm.controls.street.touched}">
    <label class="form-control-label">
      <span>street</span>
      <input 
        type="text" 
        class="form-control" 
        formControlName="street">
      <div 
        class="form-control-feedback" 
        *ngIf="addressForm.controls.street.invalid && addressForm.controls.street.touched">
        Street is required
      </div>
    </label>
  </div>
  <div class="form-group">
    <label class="form-control-label">
      <span>postcode</span>
      <input 
        type="text" 
        class="form-control" 
        formControlName="postcode">
    </label>
  </div>
</div>