<div class="container">
  <div>
    <div>
      <div>
        <h4>Add customer</h4>
      </div>
      <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm)">
        <div 
          class="form-group"
          [ngClass]="{'has-warning': myForm.controls.name.invalid && myForm.controls.name.touched}">
          <label class="form-control-label">
            <span>Name</span>
            <input type="text" class="form-control" formControlName="name">
          </label>
          <div 
            class="form-control-feedback" 
            *ngIf="myForm.controls.name.invalid && myForm.controls.name.touched">
            Name is required (minimum 5 characters).
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label">
            <span>Number of cars:</span>
            <counter-input class="form-control" formControlName="counter"></counter-input>
          </label>
        </div>

        <!--addresses-->
        <div formArrayName="addresses">
          <div *ngFor="let address of myForm.controls.addresses.controls; let i=index" class="card my-2">
            <div class="card-header">
              <span>Address {{i + 1}}</span>
              <span class="glyphicon glyphicon-remove pull-right" *ngIf="myForm.controls.addresses.controls.length > 1" (click)="removeAddress(i)"></span>
            </div>
            <div class="card-block" [formGroupName]="i">
              <address [group]="address"></address>
            </div>
          </div>
          <div class="my-2">
            <button type="button" (click)="addAddress()">
              Add another address +
            </button>
          </div>
        </div>

        <div class="my-4">
          <button type="submit" class="btn btn-primary pull-right" [disabled]="!myForm.valid">Submit</button>
        </div>

        <div class="my-4">
          <h4>myForm details:-</h4>
          <pre>Is myForm valid?: {{myForm.valid | json}}</pre>
          <pre>form value: <br>{{myForm.value | json}}</pre>
        </div>
      </form>
    </div>
  </div>
</div>