<div class="jumbotron">
  <form novalidate (ngSubmit)="onSubmit(user)" [formGroup]="user">
    <div class="form-group" [ngClass]="{'has-warning': hasError('name')}">
      <label class="form-control-label">
        <span>Full name</span>
        <input
          type="text"
          class="form-control" 
          formControlName="name"
          placeholder="Your full name">
        <div class="form-control-feedback" *ngIf="hasError('name', 'required')">
          Name is required
        </div>
        <div class="form-control-feedback" *ngIf="hasError('name', 'minlength')">
          Name must be at least 2 charecters long.
        </div>
      </label>
    </div>
    <div formGroupName="account">
      <div class="form-group" [ngClass]="{'has-warning': hasError('email') || hasError('account')}">
        <label class="form-control-label">
          <span>Email address</span>
          <input
            type="email"
            class="form-control" 
            formControlName="email"
            placeholder="Your email address">
        </label>
        <div class="form-control-feedback" *ngIf="hasError('email', 'required')">
          Email is required
        </div>
      </div>
      <div class="form-group" [ngClass]="{'has-warning': hasError('confirm') || hasError('account')}">
        <label class="form-control-label">
          <span>Confirm address</span>
          <input
            type="email"
            class="form-control" 
            formControlName="confirm"
            placeholder="Confirm your email address">
        </label>
        <div class="form-control-feedback" *ngIf="hasError('confirm', 'required')">
          You need to confirm your email
        </div>
        <div class="form-control-feedback" *ngIf="hasError('account', 'nomatch')">
          You need to confirm your email
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="user.invalid">Sign up</button>
  <!-- {{ user.value | json }} -->
  </form>
</div>
<ul>
  <li *ngIf="window.HOVER_INTERFACE">User can hover.</li>
  <li *ngIf="window.TOUCH_INTERFACE">User is using touch interface.</li>
</ul>