<html>
    <head>
        <style>
            .container {
                padding: 40px;
                background: #e9ecef;
                border-radius: 3px;
                border: 2px solid #999;
            }
        </style>
    </head>

    <body>
        <div class="container">
            <p>
                {{ senderEmail }} has content to share with you.
                Click <a href="http://localhost:3000/#/view_share/{{ uid }}">here</a> to view.
            </p>

            <p>
                <strong>Please Note.</strong>

                This content will expire in <strong>48 hours</strong> or when you <strong>click on the link</strong> above.
                Afterwards, the content will no longer be viewable.
            </p>
        </div>
    </body>
</html>