$color-box-outer: #b97a57;

.info {
    padding: 20px 25px 5px;
    margin-bottom: 25px;
    background: #bf8e72;
    color: #fff;
    -webkit-border-radius: 0.15em;
    -moz-border-radius: 0.15em;
    border-radius: 0.15em;
}

.btn.btn-primary {
    &, &:visited, &:focus, &:active {
        background: transparent;
        border: 2px solid $color-box-outer;
        color: $color-box-outer;
        font-weight: 500;
        outline: none;
    }

    &:hover {
        background: #c5825c;
        border-color: #c5825c;
        color: #fff;
        outline: none;
    }
}
