$color-error: #dc3545;
$color-box-outer: #b97a57;

input, textarea {
    -webkit-border-radius: 0.15em;
    -moz-border-radius: 0.15em;
    border-radius: 0.15em;
    border: none;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

label, h1 {
    color: $color-box-outer;
}

.info {
    padding: 20px 25px 5px;
    margin-bottom: 25px;
    background: #bf8e72;
    color: #fff;
    -webkit-border-radius: 0.15em;
    -moz-border-radius: 0.15em;
    border-radius: 0.15em;
}

.has-error {
    label {
       color: $color-error;
    }

    input, textarea {
        border-color: $color-error;
    }

    .error li {
        color: $color-error;
    }
}

.btn.btn-primary {
    background: $color-box-outer;
    border-color: $color-box-outer;
    color: #fff;
    outline: none;

    &:hover, &:visited, &:focus, &:active {
        background: #c5825c;
        border-color: #c5825c;
        outline: none;
    }
}
