<div class="info">
    <p>
        Fill out the form below to share content with a person. The recipient will receive an email directing them to
        Share with the shared content.
    </p>

    <p>
        Shared content will expire whenever the Share content <strong>has been viewed</strong>, or
        <strong>48 hours after</strong> it was created. If the content has been missed, simply submit a new form with
        the same content to your recipient.
    </p>
</div>

<h1>SHARE</h1>
<form novalidate (ngSubmit)="onSubmit()" [formGroup]="form">
    <div class="form-group">
        <form-row [validations]="validationsAll?.senderEmail" [formCtrlName]="'senderEmail'">
            <label class="form-control-label" form-section="label"><strong>Your Email</strong></label>

            <input class="form-control"
                   type="text"
                   form-section="widget"
                   formControlName="senderEmail">
        </form-row>
    </div>

    <div class="form-group">
        <form-row [validations]="validationsAll?.content" [formCtrlName]="'content'">
            <label class="form-control-label" form-section="label"><strong>Content</strong></label>

            <textarea class="form-control"
                      type="text"
                      form-section="widget"
                      formControlName="content"></textarea>
        </form-row>
    </div>

    <div class="form-group">
        <form-row [validations]="validationsAll?.receiverEmail" [formCtrlName]="'receiverEmail'">
            <label class="form-control-label" form-section="label"><strong>Receiver Email</strong></label>

            <input class="form-control"
                   type="text"
                   form-section="widget"
                   formControlName="receiverEmail">
        </form-row>
    </div>

    <hr>

    <button type="submit"
            class="btn btn-primary"
            [disabled]="false">Submit</button>
</form>
