<!--<style>-->
    <!--.container {-->
        <!--text-align: center;-->
    <!--}-->

    <!--img {-->
        <!--margin: 25px;-->
    <!--}-->

    <!--.content {-->
        <!--padding: 20px 50px;-->
        <!--background: #ebd8cd;-->
    <!--}-->

    <!--.content h1 {-->
        <!--margin-bottom: 35px;-->
    <!--}-->

    <!--.content h4 {-->
        <!--margin: 50px 0 20px;-->
    <!--}-->

    <!--.btn.btn-primary {-->
        <!--color: #b97a57;-->
        <!--background: #fff;-->
        <!--font-weight: 500;-->
        <!--font-size: 20px;-->
        <!--border: 2px solid #b97a57;-->
    <!--}-->

    <!--.footer {-->
        <!--background: #b97a57;-->
        <!--padding: 20px 0;-->
        <!--color: #fff;-->
    <!--}-->

    <!--.footer a {-->
        <!--text-decoration: underline;-->
    <!--}-->
<!--</style>-->

<!--<div class="container">-->
    <!--<img src="/public/images/ic_logo.png">-->

    <!--<div class="content">-->
        <!--<h1>You have a content shared with you</h1>-->

        <!--<p>-->
            <!--<strong>ssitu@dayspring-tech.com</strong> has shared some content with you. Click the link below to view it.-->
        <!--</p>-->

        <!--<a class="btn btn-primary">View Share</a>-->

        <!--<h4><strong>Please Note</strong></h4>-->

        <!--<p>-->
            <!--The content will expire when you <strong>click on the link above</strong> or when <strong>48 hours</strong> has-->
            <!--passed since the share was created. Afterwards, the content will no longer be viewable.-->
        <!--</p>-->

        <!--<p>-->
            <!--If you have any questions about the content, please content the sender.-->
        <!--</p>-->
    <!--</div>-->

    <!--<div class="footer">-->
        <!--<p>Share - A simple tool to share and view content!</p>-->
        <!--<p>Product of Dayspring, <a href="">a San Francisco Web Design Company</a></p>-->
    <!--</div>-->
<!--</div>-->

<main>
    <div class="header">
        <a href="/"><img src="/public/images/ic_logo.png"></a>

        <h2>A simple tool to share and view content!</h2>

        <h3>What Can I Share</h3>
        <ul>
            <li>Passwords</li>
            <li>Public/Private Keys</li>
            <li>Free-Form Text</li>
        </ul>
    </div>

    <div class="container">
        <!--<nav-bar></nav-bar>-->
        <!--<router-outlet></router-outlet>-->

        <div class="jumbotron">
            <router-outlet></router-outlet>
        </div>
    </div>
</main>

<div class="footer">
    <p>A product of Dayspring, <a href="https://www.dayspring-tech.com/">a San Francisco Web Design Company</a>.</p>
    <p>Copyright 2018</p>
</div>
