<main>
    <div class="header">
        <a href="/"><img src="/public/images/ic_logo.png"></a>

        <h2>A simple tool to share and view content!</h2>

        <h3>What Can I Share</h3>
        <ul>
            <li>Passwords</li>
            <li>Public/Private Keys</li>
            <li>Free-Form Text</li>
        </ul>
    </div>

    <div class="container">
        <!--<nav-bar></nav-bar>-->
        <!--<router-outlet></router-outlet>-->

        <div class="jumbotron">
            <router-outlet></router-outlet>
        </div>
    </div>
</main>

<div class="footer">
    <p>A product of Dayspring, <a href="https://www.dayspring-tech.com/">a San Francisco Web Design Company</a>.</p>
    <p>Copyright 2018</p>
</div>
