<nav class="header">
  <nav class="navbar flex-row justify-content-between">
    <a class="navbar-brand" href="#">Starter App</a>
    <ul class="nav nav-pills">
      <li class="nav-item"><a class="nav-link" [ngClass]="{'active': active.home}" (click)="go('home')">Home</a></li>
      <li class="nav-item"><a class="nav-link" [ngClass]="{'active': active.about}" (click)="go('about')">About</a></li>
      <li class="nav-item"><a class="nav-link" [ngClass]="{'active': active.contact}" (click)="go('contact')">Contact</a></li>
    </ul>
  </nav>
</nav>